label {
    font-weight: 600;
  }
  .dateinput {
      // margin-top: 12px;
      width: 27rem;
  }
  .option{
      padding: 30px;
  }
  .btnpop{
      background-color: #006666;
      color: white;
  }