.sidebar{
    background-color: white;
    height: 44.8rem;
}
.main{
    background-color: #e1fcfc;
    border-radius: 10px;
}
.navbar{
    background-color: white;
}
img{
    width: 61px;
    border-radius: 50%;
}
.navname{
    padding-left: 12px;
    font-size: 25px;
    font-weight: 500;
    font-family: revert;
}
.btnlogout{
    background-color: #107c7c;
    color: white;
    height: 40px;
}
.task-a{
    font-size: 18px;
    text-decoration: none;
    padding-left: 77px;
    color: #107c7c;
}
hr{
    color: gray;
}
