<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <img src="https://www.w3schools.com/howto/img_avatar.png" />
    <h1 class="navname">{{ navName }}</h1>
    <div style="padding-left: 70rem">
      <button class="btn btnlogout">LogOut</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div class="container-fluid">
  <div class="row"> -->
    <div class="col-md-2 sidebar">
      <div class="tagA">
        <hr>
        <a class="task-a">Task</a><br /><hr>
        <a class="task-a">User</a><br /><hr>
        <a class="task-a">Profile</a><br /><hr>
      </div>
    </div>
    <!-- <div class="col-md-10 main">
    </div> -->
  <!-- </div>
</div> -->
